<html>
  <head>
    <title>Contact form</title>
    <style>
      html {
        background: #FFF9ED;
        font-family: sans-serif;
        color: #1E1E1E;
      }
      img {
        border: 1px solid black;
      }
    </style>
  </head>
  <body>
    <h1>question from {{data.firstName}} {{data.name}}</h1>
    <h2>email: {{data.email}}</h2>
    <h2>phone: {{data.phone}}</h2>
    <p>{{data.question}}</p>
  </body>
</html>
