<html>
  <head>
    <title>Your order has been shipped!</title>
    <style>
      html {
        background: #FFF9ED url(https://cherrystickers.herokuapp.com/assets/img/mail/background.png);
        font-family: sans-serif;
        color: #1E1E1E;
      }

      body {
        background: url(https://cherrystickers.herokuapp.com/assets/img/mail/stamp.png)no-repeat 90% 0%;
        background-size: 25%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }

      h1 {
        margin-top: 5rem;
        font-size: 4rem;
        font-weight: lighter;
        color: #816350;
      }

      a {
        color: #816350;
        font-weight: bold;
      }

      .thank {
        width: 50vw;
        text-align: center;
        line-height: 180%;
        color: #816350;
        font-size: 1.2rem;
      }

      .info-holder {
        box-sizing: border-box;
        width: 50vw;
        display: flex;
        flex-direction: column;
        padding: 2rem 5rem;
      }

      .title-numbers, .info-numbers {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      .item-title {
        margin-top: 2rem;
        font-size: 1rem;
        color: #1E1E1E;
      }

      .header-column, .item {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      .prior, .item p.prior {
        display: flex;
        align-items: center;
        flex: 1;
        text-align: left;
      }

      h3, .item p {
        text-align: center;
        width: 5rem;
      }

      .large {
        margin-top: 4rem;
      }

      footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 2rem;
      }

      h4 {
        color: #816350;
        font-weight: lighter;
        font-size: 1rem;
        margin-bottom: 1rem;
      }

      .item p, .info-numbers p {
        color: #816350;
      }

      p > img {
        height: 5rem;
        width: 5rem;
        margin-right: 1rem;
      }

      .total {
        width: 100%;
        text-align: right;
        border-top: 1px solid black;
        font-weight: lighter;
        font-style: italic;
        padding-top: 1rem;
      }

      .total > span {
        font-size: .8rem;
      }

      @media only screen and (max-width: 750px) {
        .info-holder {
          width: 90vw;
        }

        .thank {
          width: 90vw;
        }

        h1 {
          text-align: center;
        }

        body {
          background-position: top right;
        }
      }

      @media only screen and (max-width: 480px){
        .info-holder {
          width: 120vw;
        }

        body {
          background-size: 40%;
        }
      }

    </style>
  </head>
  <body>
    <h1>Your order is on its way!</h1>
    <p class="thank">Your Cherry order <b>{{data.orderId}}</b> has successfully been <b>Shipped</b> on <b>{{orderDate}}</b>. If you ordered a large amount its being shipped in more than one package. It's possible you'll receive these packages on different days. Thanks again for your trust. We hope te see you again at our store.</p>
    <p class="thank">Questions? Suggestions? <a href="mailto:info@cherrystickers.be">Shoot us an email.</a></p>


    <section class="info-holder">
      <article class="title-numbers">
        <h2 class="item-title large">These items are heading your way:</h2>
      </article>

      <article class="invoice">
        <div class="header-column">
          <h3 class="prior">Item</h3>
          <h3>Qty</h3>
          <h3>Price</h3>
        </div>

        {{#each data.jsonOrder}}
          <div class="item">
            <p class="prior">
              <img src='https://cherrystickers.herokuapp.com/uploads/{{img}}' width="100%" alt="">
              {{product}}
            </p>
            <p>{{amount}}</p>
            <p>€ {{price}}</p>
          </div>
        {{/each}}

      </article>
    </section>

    <footer>
      <h4>We hope to see you soon at our store!</h4>
      <h4>The Cherry Team</h4>
    </footer>

  </body>
</html>
